// Fonts 
@import '~@fontsource/montserrat/index.css';
@import '~@fontsource/montserrat/700.css';

// RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

body {
    font-family: 'Montserrat', sans-serif;
}

// COMMON
.container-lg {
    width: 90%;
    margin: 0 auto;
}

.container-sm {
    width: 70%;
    margin: 0 auto;
}