// Palette

// Color Cube:
$color_cube1:#ffffff;
$color_cube2:#4ad7a8;
$color_cube3:#a1bae2;
$color_cube4:#292629;
$color_cube5:#a3907c;
$color_cube6:#1a5eca;
$color_cube7:#fecc4f;
$color_cube8:#fd0303;
$color_cube9:#bd5029;
$color_cube10:#06d7f5;

// Median Cut:
$median_cut1:#3c6669;
$median_cut2:#e4e8ed;
$median_cut3:#995d5c;
$median_cut4:#97a9ba; 
$median_cut5:#b89062;
$median_cut6:grey;
$median_cut7:orange;

// Material Design:
$material_design1:#4dd3ac;
$material_design2:#b9a59c;
$material_design3:#3b5182;
$material_design4:#2d2e34;
$material_design5:#9dbbe3;
$material_design6:#f2f6fa;
